* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: var(--fz-5);
  line-height: 107%;
  color: var(--black-color);
}
.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}