/* 1440 / 1280 / 1140 / 1024 / 900 / 768 / 568 / 480 / 400 / 385 / 320 */

@media screen and (max-width: 1280px) {
  .main {
    padding-top: 280px;
  }
}

@media screen and (max-width: 1140px) {
  .main {
    padding-top: 240px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    padding-top: 215px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    background: url(../img/bg/main-bg.jpg) top 1% center/contain no-repeat;
  }
  .main-top__title {
    --fz-1: 3.5rem;

    max-width: 560px;
    margin-bottom: 50px;
  }
  .main-top__title::after {
    bottom: -35px;
  }
  .main-top__subtitle {
    --fz-2: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .main-top__title {
    --fz-1: 2.8rem;

    max-width: 450px;
  }
  .main-top__subtitle {
    --fz-2: 2rem;
  }
}

@media screen and (max-width: 568px) {
  .main {
    background: url(../img/bg/main-bg-mobile.jpg) top 1% center/contain no-repeat;
    padding-top: 295px;
  }
  .main-top__title {
    --fz-1: 3.125rem;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding-top: 250px;
    margin-bottom: 80px;
  }
  .main::before {
    height: 270px;
    width: 140px;
  }
  .main::after {
    width: 200px;
    height: 400px;
  }
  .main-wrapper::before {
    width: 240px;
    height: 370px;
  }
  .main-wrapper::after {
    width: 250px;
    height: 400px;
  }
  .main-top__title {
    --fz-1: 2.6rem;
  }
  .main-top__title::after {
    bottom: -30px;
  }
  .main-top__subtitle {
    --fz-2: 1.8rem;
  }
}

@media screen and (max-width: 385px) {
  .main {
    background: url(../img/bg/main-bg-mobile.jpg) top 1% center/contain no-repeat;
  }
  .main-top__title {
    --fz-1: 2.2rem;

    margin-bottom: 45px;
  }
  .main-top__subtitle {
    --fz-2: 1.5rem;
  }
}