/* 1440 / 1280 / 1140 / 1024 / 900 / 768 / 568 / 480 / 400 / 385 / 320 */

@media screen and (max-width: 1280px) {
  .product-card__bottom {
    flex-direction: column;
  }
  .product-card__counter,
  .product-card__basket {
    width: 100%;
  }
  .product-card__counter-minus, .product-card__counter-plus {
    width: 100%;
  }
  .product-card__price-wrapper {
    flex-direction: column;
    gap: 5px;
  }
  .product-card__title {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1140px) {
  .product-card {
    padding: 30px 14px 14px;
  }
  .product-card[data-sale]::before {
    top: -6px;
    left: -59px;
    height: 25px;
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) { 
  .product-card {
    padding: 25px;
  }
}

@media screen and (max-width: 900px) {
  .product-card {
    padding: 30px 14px 14px;
  }
}

@media screen and (max-width: 768px) {
  .product-card {
    padding: 25px;
  }
}

@media screen and (max-width: 568px) {
  .product-card {
    padding: 20px 14px 14px;
  }
}

@media screen and (max-width: 480px) {
  .product-card__title {
    min-height: 68px;
    margin-bottom: 10px;
  }
  .product-card__title a {
    --fz-3: 1.25rem;
  }
}

@media screen and (max-width: 400px) {
  .product-card {
    padding: 25px;
  }
  .product-card__title {
    max-width: initial;
  }
  .product-card__title a {
    --fz-3: 1.625rem;
  }
  .product-card[data-sale]::before {
    top: -3px;
    left: -53px;
    height: 30px;
    font-size: 15px;
  }
}