/* 1440 / 1280 / 1140 / 1024 / 900 / 768 / 568 / 480 / 400 / 385 / 320 */

@media screen and (max-width: 1600px) {
  .products-wrapper {
    justify-content: center;
  }
  .products-catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .products-basket {
    max-width: 270px;
    padding: 17px;
  }
  .products-basket__btns .btn {
    padding: 12px;
  }
}

@media screen and (max-width: 1140px) {
  .products-basket {
    max-width: 240px;
    padding: 15px;
  }
  .products-basket__goods-item {
    gap: 7px;
  }
  .products-basket__btns {
    flex-direction: column;
  }
  .products-basket__btns .btn {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .products-catalog {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-basket {
    max-width: 270px;
    padding: 18px;
  }
}

@media screen and (max-width: 900px) {
  .products-wrapper,
  .products-catalog {
    gap: 20px;
  }
  .products-basket {
    max-width: 240px;
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .products-basket {
    position: relative;
    position: fixed;
    max-height: 100vh;
    max-width: 350px;
    padding: 34px 24px 24px;
    border-radius: 24px 0 0 24px;
    right: -101%;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    transition: right .4s ease-in-out;
    z-index: 101;
  }
  .products-basket.active {
    right: 0;
    transition: right .3s ease-in-out;
  }
  .products-basket__close-btn {
    display: block;
  }
  .products-basket__goods::after {
    height: 12px;
  }
  .products-basket__btns {
    flex-direction: row;
  } 

  .products-wrapper, .products-catalog {
    gap: 30px;
  }
}

@media screen and (max-width: 568px) {
  .products-wrapper, .products-catalog {
    gap: 15px;
  }
}

@media screen and (max-width: 480px) {
  .products-tabs {
    margin-bottom: 60px;
  }
  .products-wrapper, .products-catalog {
    gap: 10px;
  }
  .products-tabs__list {
    gap: 30px;
  }
  .products-tabs__list::after {
    width: 355px;
  }
}

@media screen and (max-width: 400px) {
  .products-catalog {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .products-tabs {
    margin-bottom: 40px;
  }
  .products-tabs__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 5px 10px;
  }
  .products-tabs__list::after {
    display: none;
  }
  .products-tabs__list-item button.active::after,
  .products-tabs__list-item button:hover::after {
    display: none;
  }
  .products-tabs__list-item {
    width: 100%;
  }
  .products-tabs__list-item button { 
    padding: 7px 10px;
    width: 100%;
    border: 1px solid var(--main-color-2);
    border-radius: 7px;
  }
  .products-tabs__list-item button.active {
    color: var(--white-color);
    background: var(--main-color-2);
  }
  .products-basket {
    max-width: 400px;
    border-radius: 0;
  }
  .products-basket__goods::after {
    height: 13px;
  }
}